@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
.actor-regular {
    font-family: "Actor", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
/* 튜토리얼 페이지 */
.tutorial-page{
    padding: 0 2rem;
    width: 100%;
    height: 100dvh;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
}
/* chatbox 스타일 */
.chatbox-area{
    position: relative;
    width: 100%;
    height: 100dvh;
    z-index: 5;
}
.chatbox-area-abs{
    position: absolute;
    width: 100%;
    top: 10%;
}
.chatbox{
    padding: 1.3rem 1.55rem;
    border-radius: 10px;
    position: relative;
    display: block;
    background: rgb(255, 255, 255);
}

.chatbox-area .pointer-up{
    z-index: -1;
    height: 40px;
	width: 40px;
    background: rgb(255, 255, 255);
	margin: 0 auto;
	transform: rotate(45deg);
	border-radius: 10px 0 0px 0;
	margin-top: 10px;
	position: relative;
	left: calc(0.5vw - 100px);
}
.chatbox-area .pointer{
    z-index: -1;
    height: 25px;
	width: 25px;
    background: rgb(255, 255, 255);
	margin: 0 auto;
	transform: rotate(45deg);
	border-radius: 0 0 8px 0;
	margin-top: -15px;
	position: relative;
	left: calc(0.5vw - 125px);
}
/* 
.chatbox:after { 
    border-radius: 10px;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid pink;
    content: "";
    width: 31.32px;
    height: 28.19px;
    position: absolute;
    rotate: 180deg;
    bottom: -1.55rem;
    left: 26.78px;
   } */
.chatbox .chatbox-txt{
    font-family: 'Pretendard-Medium';
    font-size: 1.2rem;
}
.chatbox .chatbox-orange{
    color: #FE5D11 !important;
}
.chatbox .chatbox-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.7rem;
}
.chatbox .chatbox-btn{
    display: flex;
    font-family: 'Pretendard-Medium';
    font-size: 1.25rem;
    background-color: #FF7A2F;
    border:  solid 1px #FE5D11;
    color: white;
    border-radius: 10px;
    padding: 0.38rem 1.3rem;
    line-height: 1.8rem;
}
.chatbox-seq{
    color: #FF7A2F;
    font-size: 1.25rem;
    display: flex;
}
.skip-btn{
    width: 100%;
    text-align: right;
    font-family: 'Pretendard-Medium';
    color: white;
    font-size: 1.25rem;
    padding-right: 10px;
    margin-bottom: 0.7rem;
}
/* 단계별 chatbox */
.chatbox-area .chat-0{
    top: 25%;
}
.chat-0 .pointer{
    transform: rotate(45deg);
	border-radius: 10px 0 0px 0;
	margin-top: -145px;
}
.chatbox-area .chat-0{
    top: 25%;
}
.chat-0 .pointer{
    transform: rotate(45deg);
	border-radius: 8px 0 0px 0;
	margin-top: -140px;
}
.chatbox-area .chat-1{
    top: 27%;
}
.chat-1 .pointer{
    transform: rotate(45deg);
	border-radius: 8px 0 0px 0;
	margin-top: -158px;
}
.chatbox-area .chat-2{
    top: 73%;
}
.chat-2 .pointer{
    transform: rotate(45deg);
	border-radius: 8px 0 0px 0;
	margin-top: -139px;
}
.chatbox-area .chat-3{
    top: 73%;
}
.chat-3 .pointer{
    transform: rotate(45deg);
	border-radius: 8px 0 0px 0;
	margin-top: -123px;
}
.chatbox-area .chat-4{
    top: 73%;
}
.chat-4 .pointer{
    transform: rotate(45deg);
	border-radius: 8px 0 0px 0;
	margin-top: -123px;
}
.chatbox-area .chat-5{
    top: 35%;
}
.chat-5 .pointer{
    transform: rotate(45deg);
	border-radius: 8px 0 0px 0;
	margin-top: -120px;
}
.chatbox-area .chat-6{
    top: 65%;
}
.chat-6 .pointer{
    transform: rotate(45deg);
	border-radius: 8px 0 0px 0;
	margin-top: -120px;
}

.chatbox-area .chat-7{
    top: 38%;
}

.chatbox-area .chat-8{
    top: 38%;
}

.chatbox-area .chat-9{
    top: 70%;
}

.chatbox-area .chat-10{
    top: 29%;
}
