.intropage{
    position: relative;
    max-width: 500px;
    width: 100vw;
    height: 100dvh;
    padding: 0 1.8rem;
    text-align: center;
    background-color: rgb(239, 236, 229);
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
}
.intropage-title{
    padding-top: 6.9rem;
    font-size: 2.3rem;
}
.intropage-sns{
    margin: 0 auto;
    padding: 1.3rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    border: 0.5px solid #8C96A4;
    border-radius: 5px;
}
.intropage-kakao{
    margin-bottom: 1rem;
}
.intropage-apple{
    margin-bottom: 2.75rem;
}
.intropage-kakao:active,
.intropage-kakao:hover{
    background-color: #FAE84C;
}
.intropage-apple:active,
.intropage-apple:hover{
    background-color: #ffffff;
}
.intropage-kakao-img{
    width: 11rem;
}
.profile-img{
    width: 20rem;
    padding: 2rem;
    margin: 0 auto;
}

.intropage .into-bottom{
   position: relative;
   flex: 1;
   width: 100%;
}
.intropage .intro-bottom-abs{
    position: absolute;
    width: 100%;
    bottom:0;
}