@font-face {
    font-family: 'Pretendard-400';
    src: url('https://cdn.banggooso.com/assets/fonts/PretendardVariable.woff2') format('woff2');
    font-weight: 400;
    }
    
    @font-face {
    font-family: 'Pretendard-500';
    src: url('https://cdn.banggooso.com/assets/fonts/PretendardVariable.woff2') format('woff2');
    font-weight: 500;
    }
    
    @font-face {
    font-family: 'Pretendard-600';
    src: url('https://cdn.banggooso.com/assets/fonts/PretendardVariable.woff2') format('woff2');
    font-weight: 600;
    }
    
    @font-face {
    font-family: 'Pretendard-700';
    src: url('https://cdn.banggooso.com/assets/fonts/PretendardVariable.woff2') format('woff2');
    font-weight: 700;
    }
    
    @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
    @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
    }
    @font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.banggooso.com/sr/assets/fonts/Pretendard-Bold.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2https://cdn.banggooso.com/sr/assets/fonts/Pretendard-Bold.woff2')
        format('woff2'),
      url('https://cdn.banggooso.com/sr/assets/fonts/Pretendard-Bold.woff') format('woff');
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.banggooso.com/sr/assets/fonts/Pretendard-Medium.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2https://cdn.banggooso.com/sr/assets/fonts/Pretendard-Medium.woff2')
        format('woff2'),
      url('https://cdn.banggooso.com/sr/assets/fonts/Pretendard-Medium.woff') format('woff');
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.banggooso.com/sr/assets/fonts/Pretendard-Regular.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2https://cdn.banggooso.com/sr/assets/fonts/Pretendard-Regular.woff2')
        format('woff2'),
      url('https://cdn.banggooso.com/sr/assets/fonts/Pretendard-Regular') format('woff');
    font-style: normal;
    }
    
    @font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.banggooso.com/sr/assets/fonts/Pretendard-SemiBold.otf') format('opentype'),
      url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2https://cdn.banggooso.com/sr/assets/fonts/Pretendard-SemiBold.woff2')
        format('woff2'),
      url('https://cdn.banggooso.com/sr/assets/fonts/Pretendard-SemiBold') format('woff');
    font-style: normal;
    }
    
.img-width{
    width: 100%;
    object-fit: fill;
}
.typepage-hidden{
  overflow: hidden;
}

.typepage-main{
    width: 100%;
    max-width: 500px;
    height: 100dvh;
    padding: 3rem 1.75rem;
}
.typepage-title{
    padding: 0 0.1rem;
}
.type-select-area{
    padding: 0 0.8rem;
    margin-top: 2.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}
.type-box{
   width: 100%;
   padding: 0.7rem 1.9rem;
   background: #F6F7F8;
   box-shadow: 0px 2px 6.2px rgba(101, 118, 133, 0.25);
   border-radius: 10px;
}
.type-box-1-active, .type-box-2-active,.type-box-3-active,.type-box-4-active,.type-box-5-active{
    background-color: #D0E4FD;
    border: #0059B1 solid 2px;
}
.typepage-btn-area{
    margin-top: 1.9rem;
    width: 100%;
    padding-bottom: 2.6rem;
}
.typepage-btn{
    background: #EDEEF1;
    border-radius: 10px;
    color: #C5C5C5;
    padding: 1.5rem 1.8rem;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Pretendard-Bold';
}
.aboutpage{
    max-width: 500px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100dvh;
    background-color: #0000004c;
}
.aboutpage-main{
    position: absolute;
    bottom: 0;
    overflow: scroll;
    background-color: white !important;
    border-radius: 15px 15px 0 0;
    text-align: center;
    background-color: #C5C5C5;
    width: 100%;
    height: 80dvh;
}
.aboutpage-detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.55rem;
  max-width: 500px;
  padding-bottom: 10rem;
}
.aboutpage .aboutpage-close{
  position: absolute;
  top: 3rem;
  right: 2.2rem;
  width: 1.3rem;
}
.aboutpage .about-title{
  padding: 3rem 1.5rem 1rem 1.5rem;
}
.aboutpage .about-txt{
  margin-top: 3rem;
}
.about-icon{
    width: 9.1rem;
}
.aboutpage-btn-area{
    width: 100%;
    background-color: white;
    position: fixed;
    max-width: 500px;
    bottom: 0;
    padding: 2.3rem 1.55rem 2.1rem 1.55rem;
}
.aboutpage-btn{
    border-radius: 5px;
    background-color: #798097;
    color: white;
    color: white;
    font-size: 1.3rem;
    font-family: 'Pretendard-Bold' !important;
    padding: 1.6rem;
}
.aboutpage-btn:active{
  opacity: 70%;
}